/*-------------------------------------------
  -- Blockquote
-------------------------------------------*/
blockquote {
  h2 {
    margin-bottom: 2rem;
  }
}
.blockquote-footer {
  opacity: .6;
  &:before {
    display: none;
  }
}
