/*-------------------------------------------
  -- Forms
-------------------------------------------*/
form, .ts-form {
  label {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.form-control {
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

