/*-------------------------------------------
  -- List
-------------------------------------------*/
ul {
  &.ts-list-colored-bullets {
    li {
      &:before {
        content: "•";
        color: var(--color-primary);
        vertical-align: middle;
        font-size: 28px;
        padding-right: 12px;
      }
    }
  }

}