.ts-member {
  margin-bottom: 64px;

  .ts-image {
    height: 288px;
    margin-bottom: 16px;
    position: relative;
  }
  h5 {
    font-weight: bold;
  }
  h6 {
    margin-bottom: 24px;
    opacity: .6;
  }
  .ts-social {
    font-size: 10px;
  }
}