/*-------------------------------------------
  -- Page
-------------------------------------------*/
.ts-page-wrapper {
  overflow: hidden;
}

.ts-content {
  margin-top: 72px ?if media (max-width: 575px);
}