/*-------------------------------------------
  -- Overflow
-------------------------------------------*/

.ts-overflow-y--auto {
  overflow-y: auto;
}

.ts-overflow-x--auto {
  overflow-x: auto;
}

.ts-overflow-x--hidden {
  overflow-x: hidden;
}

.ts-overflow-y--hidden {
  overflow-y: hidden;
}