/*-------------------------------------------
  -- Title
-------------------------------------------*/

.ts-title {
  margin-bottom: 2rem ?if media (max-width: 575px);
  margin-bottom: 2.25rem ?if media (min-width: 576px) and (max-width: 991px);
  margin-bottom: 2.5rem ?if media (min-width: 992px);

  h5 {
    font-weight: normal;
    opacity: .5;
  }
}
