<!doctype html>
<html lang="en">
{{>component/head}}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
{{>component/brandNavigation}}
    </div>

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {{>component/sidenav}}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-5 pt-lg-0">

                <blockquote class="blockquote">
                    <h2>Here we are! </h2>
                    <div class="blockquote-footer">We are ready to serve your purpose</div>
                </blockquote>

            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--The Team
            ============================================================================================================
            -->
            <section id="the-team" class="ts-block">

                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-title">
                                <h2>The Team</h2>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="ts-member">
                                        <div class="ts-image">
                                            <div class="ts-img-into-bg">
                                                <img src="img/img__person--01.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5>Gloria Derouen</h5>
                                        <h6>Company CEO</h6>
                                        <div class="ts-social">
                                            <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                            <a href="#" class="ts-underline ts-link ">Twitter</a>
                                        </div>
                                    </div>
                                </div>
                                <!--end Member-->

                                <div class="col-md-6">
                                    <div class="ts-member">
                                        <div class="ts-image">
                                            <div class="ts-img-into-bg">
                                                <img src="img/img__person--02.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5>Thomas Quintana</h5>
                                        <h6>Head Designer</h6>
                                        <div class="ts-social">
                                            <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                            <a href="#" class="ts-underline ts-link ">Twitter</a>
                                        </div>
                                    </div>
                                </div>
                                <!--end Member-->

                                <div class="col-md-6">
                                    <div class="ts-member">
                                        <div class="ts-image">
                                            <div class="ts-img-into-bg">
                                                <img src="img/img__person--03.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5>Connie Braden</h5>
                                        <h6>Developer</h6>
                                        <div class="ts-social">
                                            <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                            <a href="#" class="ts-underline ts-link ">Twitter</a>
                                        </div>
                                    </div>
                                </div>
                                <!--end Member-->

                                <div class="col-md-6">
                                    <div class="ts-member">
                                        <div class="ts-image">
                                            <div class="ts-img-into-bg">
                                                <img src="img/img__person--04.jpg" alt="">
                                            </div>
                                        </div>
                                        <h5>Cleveland Gray</h5>
                                        <h6>Support</h6>
                                        <div class="ts-social">
                                            <a href="#" class="ts-underline ts-link clearfix">Facebook</a>
                                            <a href="#" class="ts-underline ts-link ">Twitter</a>
                                        </div>
                                    </div>
                                </div>
                                <!--end Member-->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="ts-background ts-img-into-bg ts-background-repeat">
                    <img src="img/bg__pattern--dot.png" alt="">
                </div>

            </section>

            <!--Our Story
            ============================================================================================================
            -->
            <section id="story" class="ts-block">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-title">
                                <h2>Our Story</h2>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec nunc vitae nibh
                                congue pellentesque. Mauris scelerisque quam semper feugiat tincidunt. Pellentesque a
                                ullamcorper erat, id dapibus velit. Aliquam erat volutpat. Proin at sapien leo. Nullam
                                fermentum purus ac massa dignissim, in cursus turpis lobortis. Aliquam lacinia ante a
                                velit viverra scelerisque. Suspendisse nec dui sed tortor mollis rutrum nec at leo.
                            </p>
                            <p>
                                Cras consequat diam diam, ac vehicula ipsum maximus id. Cras maximus mi id dolor suscipit
                                suscipit. Donec a mi eget dolor elementum egestas. Nullam eu augue ornare, suscipit diam
                                ut, feugiat purus. Curabitur ultrices magna vitae massa porta vulputate. Cras dignissim
                                justo tincidunt tellus tempus, quis iaculis sem facilisis. Duis efficitur felis eu eros
                                convallis facilisis. Pellentesque semper velit vitae purus tincidunt lacinia.
                            </p>
                            <div class="ts-group h5">
                                <a href="#" class="px-1">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="#" class="px-1">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                                <a href="#" class="px-1">
                                    <i class="fab fa-pinterest-square"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!--Awards
            ============================================================================================================
            -->
            <section id="features" class="ts-block ts-bg-black text-white">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-title">
                                <h2>Awards</h2>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <ul class="list list-text list-dashed">

                                <li data-animate="ts-fadeInRight">
                                    <h5 class="opacity-30"><strong>2010</strong></h5>
                                    <h4>1st place in Best Interactive Design</h4>
                                    <p>
                                        Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
                                        condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
                                    </p>
                                </li>
                                <!--end Experience block-->

                                <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <h5 class="opacity-30"><strong>2012</strong></h5>
                                    <h4>The Best Photomanipulation</h4>
                                    <p>
                                        Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed
                                        eleifend massa. Morbi nulla turpis, pharetra
                                    </p>
                                </li>
                                <!--end Experience block-->

                                <li data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                    <h5 class="opacity-30"><strong>2015</strong></h5>
                                    <h4>Top 5 Innovative Mobile Applications</h4>
                                    <p>
                                        Tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis,
                                        pharetra et nisl eu, pellentesque molestie erat
                                    </p>
                                </li>
                                <!--end Experience block-->

                            </ul>
                        </div>

                    </div>
                </div>

            </section>

            <!--Promo numbers
            ============================================================================================================
            -->
            <section class="ts-block ts-background-repeat" data-bg-image="img/bg__pattern--topo.png">
                <div class="container ts-promo-numbers">
                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="23">0</figure>
                                <h5>Clients</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="41">0</figure>
                                <h5>Projects</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="9">0</figure>
                                <h5>Awards</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="8">0</figure>
                                <h5>Years Experience</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                    </div>
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Let’s Do Some Work Together!</h2>
                    <a href="#" class="btn btn-dark">Contact Us</a>

                </div>
            </section>

            <hr>

            <!--Partners
            ============================================================================================================
            -->
            <section id="partners" class="py-3">
                <div class="container py-5">
                    <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                        <a href="#">
                            <img src="img/logo-01.png" alt="">
                        </a>
                        <a href="#">
                            <img src="img/logo-02.png" alt="">
                        </a>
                        <a href="#">
                            <img src="img/logo-03.png" alt="">
                        </a>

                    </div>
                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        {{>component/footer}}
        <!--end #footer-->

    </div>
    <!--end page-->
</div>

{{>component/scripts}}
</body>
</html>
