<!doctype html>
<html lang="en">
{{>component/head}}
<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
{{>component/brandNavigation}}

    <!--Main Left Navigation
    ====================================================================================================================
    -->
   {{>component/sidenav}}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-height--100vh ts-has-overlay text-white">

            <div class="container">

                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>We Are</span>
                    </span>
                    <br>
                    <span class="wrapper">
                        <span data-ts-delay=".05s">Supreme Digital Marketing</span>
                    </span>
                </h1>

                <h4 class="mb-0" data-animate="ts-fadeInUp" data-ts-delay=".1s">A digital Marketing agency based in London</h4>

            </div>

            <div class="ts-background" data-bg-parallax="scroll" data-bg-parallax-speed="3">
               <div id="particles-js" class="ts-background-image ts-parallax-element ts-z-index__1">

                </div>
                <div class="ts-img-into-bg ts-background-image ts-parallax-element">
                    <img src="img/bg-office.jpg" alt="">
                </div>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Blockquote
            ============================================================================================================
            -->
            <section id="blockquote" class="ts-block">
                <div class="container">

                    <blockquote class="blockquote">
                        <h2>Services we are offering</h2>
                        <footer class="blockquote-footer">We take responsibilty</footer>
                    </blockquote>

                </div>
            </section>

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container-fluid px-0">

                    <div class="row no-gutters ts-gallery">

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--01.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp">
                                <div class="ts-gallery__item-description">
                                    <h5>SEO</h5>
                                    <h3>Keep on Top</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--01.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--02.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".1s">
                                <div class="ts-gallery__item-description">
                                    <h5>Content Marketing</h5>
                                    <h3>Best Content and advertisiments </h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--02.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--03.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".15s">
                                <div class="ts-gallery__item-description">
                                    <h5>SMM</h5>
                                    <h3>Social Media Managament</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--03.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--04.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".2s">
                                <div class="ts-gallery__item-description">
                                    <h5>Paid advertisiments</h5>
                                    <h3>Leads Leads every where</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--04.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--05.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".25s">
                                <div class="ts-gallery__item-description">
                                    <h5>Branding</h5>
                                    <h3>People's trust</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--05.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-4">
                            <a href="img/img__work__thumb--06.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".3s">
                                <div class="ts-gallery__item-description">
                                    <h5>Design and Development</h5>
                                    <h3>Fast and Efficent</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--06.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>
                </div>
            </section>

            <!--Features
            ============================================================================================================
            -->
            <section id="features" class="ts-block text-white text-center text-sm-left">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-feature">
                                <img src="img/icon__dashboard.png" alt="" class="mb-5">
                                <h4>Less Tsime, More Outcomes</h4>
                                <p>Intelligent work cost small time but gains are extra efficent</p>
                            </div>
                        </div>
                        <!--end Feature-->

                        <div class="col-md-4">
                            <div class="ts-feature">
                                <img src="img/icon__user.png" alt="" class="mb-5">
                                <h4>Know Your User</h4>
                                <p>Consideration of feedback and user Experience create positive trend</p>
                            </div>
                        </div>
                        <!--end Feature-->

                        <div class="col-md-4">
                            <div class="ts-feature">
                                <img src="img/icon__envelope.png" alt="" class="mb-5">
                                <h4>Target The Audience</h4>
                                <p> Max conversion rate can be achieved by targeting specific audience</p>
                            </div>
                        </div>
                        <!--end Feature-->

                    </div>
                </div>

                <div class="ts-background ts-bg-black">
                    <div class="ts-background-image ts-background-repeat ts-opacity__10 ts-img-into-bg">
                        <img src="img/bg__pattern--topo-white.png" alt="">
                    </div>
                </div>
            </section>

            <!--Partners
            ============================================================================================================
            -->
            <section id="partners" class="py-5" data-bg-color="#fafafa">
                <div class="container py-5">
                    <div class="d-block d-md-flex justify-content-around align-items-center text-center ts-partners">

                        <a href="#">
                            <img style=" max-width: 400px; max-height:400px;" src="img/logo-01.png" alt="">
                        </a>
                        <a href="#">
                            <img style="max-width: 400px; max-height:400px;"src="img/logo-02.png" alt="">
                        </a>
                        <a href="#">
                            <img style=" max-width: 400px; max-height:400px;" src="img/logo-03.png" alt="">
                        </a>

                    </div>
                </div>
            </section>

            <!--Skills
            ============================================================================================================
            -->
            <section id="my-skills" class="ts-block">
                <div class="container">

                    <div class="ts-title">
                        <h2>Our Skills</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-4">
                            <p>
                               Our team includues experts of each skillset we are offering. We encourage you to talk to them and have free 
                               expert opinion about your product
                            </p>
                            <a href="contact" class="ts-link ts-underline">Contact Us</a>
                        </div>
                        <!--end Paragraph-->

                        <div class="col-md-6">

                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Seo</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill-->

                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Content writing</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill-->

                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Social Media Ads</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill-->
                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Google Ads</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill-->
                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Web design and Development</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill--> 
                            <div class="progress" data-progress-width="100%">
                                <h5 class="ts-progress-title">Digital Marketing</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <!--end Skill-->           

                        </div>
                    </div>
                    <!--end .row-->
                </div>
                <!--end .container-->
            </section>

            <!--Call to action
            ============================================================================================================
            -->
           

            <!--Promo numbers
            ============================================================================================================
            -->
            <section class="ts-block ts-background-repeat" data-bg-image="img/bg__pattern--dot.png">
                <div class="container ts-promo-numbers">
                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="23">0</figure>
                                <h5>Clients</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="41">0</figure>
                                <h5>Projects</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="9">0</figure>
                                <h5>Awards</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="8">0</figure>
                                <h5>Years Experience</h5>
                            </div>
                        </div>
                        <!--end Promo number-->

                    </div>
                </div>
            </section>

            <!--Our Experience
            ============================================================================================================
            -->
            <section class="ts-block">
                <div class="container">

                    <div class="ts-title">
                        <h2>Our Experience</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-5">
                            <img src="img/img__plant.jpg" class="w-100" alt="">
                        </div>

                        <div class="col-md-6">
                            <ul class="list list-text list-dashed">

                                <li data-animate="ts-fadeInRight">
                                    <h5 class="opacity-30"><strong>2010 - 2013</strong></h5>
                                    <h4>Scream Interactive</h4>
                                    <p>
                                        Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh
                                        condimentum tristique eu finibus lorem. Nullam sed eleifend massa.
                                    </p>
                                </li>
                                <!--end Experience block-->

                                <li data-animate="ts-fadeInRight" data-ts-delay=".1s">
                                    <h5 class="opacity-30"><strong>2013 - 2016</strong></h5>
                                    <h4>Weston PhotoDesign</h4>
                                    <p>
                                        Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem. Nullam sed
                                        eleifend massa. Morbi nulla turpis, pharetra
                                    </p>
                                </li>
                                <!--end Experience block-->

                                <li class="mb-0" data-animate="ts-fadeInRight" data-ts-delay=".2s">
                                    <h5 class="opacity-30"><strong>Until Now</strong></h5>
                                    <h4>Freelance</h4>
                                    <p>
                                        Tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis,
                                        pharetra et nisl eu, pellentesque molestie erat
                                    </p>
                                </li>
                                <!--end Experience block-->

                            </ul>
                        </div>

                    </div>
                </div>
            </section>

            <!--Blog
            ============================================================================================================
            -->
            <section class="ts-block pt-0">
                <div class="container">

                    <div class="ts-title">
                        <h2>From The Blog</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="ts-blog-thumb">
                                <a href="blog__detail.html" class="ts-blog-image ts-background">
                                    <div class="ts-background-image ts-img-into-bg">
                                        <img src="img/img__blog__thumb--01.jpg" alt="">
                                    </div>
                                </a>
                                <h6>02-05-2019</h6>
                                <h4>
                                    <a href="blog__detail.html">10 best design books</a>
                                </h4>
                                <p>
                                    Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum
                                    tristique eu finibus lorem.
                                </p>
                                <footer>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-comment"></i>
                                        20
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        46
                                    </a>
                                </footer>
                            </div>
                        </div>
                        <!--end Blog post thumbnail-->

                        <div class="col-md-4">
                            <div class="ts-blog-thumb">
                                <a href="blog__detail.html" class="ts-blog-image">
                                    <div class="ts-background-image ts-img-into-bg">
                                        <img src="img/img__blog__thumb--02.jpg" alt="">
                                    </div>
                                </a>
                                <h6>24-04-2019</h6>
                                <h4>
                                    <a href="blog__detail.html">How to be more creative</a>
                                </h4>
                                <p>
                                    Quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum tristique eu finibus
                                    lorem. Nullam sed eleifend massa.
                                </p>
                                <footer>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-comment"></i>
                                        42
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        38
                                    </a>
                                </footer>
                            </div>
                        </div>
                        <!--end Blog post thumbnail-->

                        <div class="col-md-4">
                            <div class="ts-blog-thumb">
                                <a href="blog__detail.html" class="ts-blog-image">
                                    <div class="ts-background-image ts-img-into-bg">
                                        <img src="img/img__blog__thumb--03.jpg" alt="">
                                    </div>
                                </a>
                                <h6>17-04-2019</h6>
                                <h4>
                                    <a href="blog__detail.html">Start your day well!</a>
                                </h4>
                                <p>
                                    Vestibulum eu ex sed nibh condimentum tristique eu finibus lorem.  Nullam sed eleifend
                                    massa. Morbi nulla turpis
                                </p>
                                <footer>
                                    <a href="#" class="mr-3">
                                        <i class="fa fa-comment"></i>
                                        18
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-heart"></i>
                                        51
                                    </a>
                                </footer>
                            </div>
                        </div>
                        <!--end Blog post thumbnail-->

                    </div>

                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
       {{>component/footer}}
        <!--end #footer-->

    </div>
    <!--end page-->

</div>

{{>component/scripts}}
</body>
</html>
