<!doctype html>
<html lang="en">

{{>component/head}}

<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
   {{>component/brandNavigation}}
    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {{>component/sidenav}}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Our Works</span>
                    </span>
                </h1>
                <h4>Portfolio Three Columns</h4>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container-fluid px-0">

                    <div class="row no-gutters ts-gallery">

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/1.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp">
                                <div class="ts-gallery__item-description">
                                    <h5>Social media Ads</h5>
                                    <h3>Amazon Market</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/1.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/2.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".1s">
                                <div class="ts-gallery__item-description">
                                    <h5>Digital marketing</h5>
                                    <h3>Carfirst</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/2.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/3.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".15s">
                                <div class="ts-gallery__item-description">
                                    <h5>Creative Marketing </h5>
                                    <h3>DM</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/3.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/4.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".2s">
                                <div class="ts-gallery__item-description">
                                    <h5>Industrial Design</h5>
                                    <h3>Style</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/4.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/5.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".25s">
                                <div class="ts-gallery__item-description">
                                    <h5>Instagram Ads</h5>
                                    <h3>Food Blogs</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/5.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/6.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".35s">
                                <div class="ts-gallery__item-description">
                                    <h5>Art</h5>
                                    <h3>Magazine Ads</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/6.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/7.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".4s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photography</h5>
                                    <h3>Extreme Workout</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/7.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/8.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".45s">
                                <div class="ts-gallery__item-description">
                                    <h5>Fitness Product</h5>
                                    <h3>Blogs</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/8.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/9.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Services</h5>
                                    <h3>Content writing</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/9.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/10.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Branding</h5>
                                    <h3>Never Ending</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/10.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/11.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Content writing</h5>
                                    <h3>Services</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/11.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/portfolio/12.jpeg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Search engine hype</h5>
                                    <h3>Seo</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/portfolio/12.jpeg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image="img/bg__pattern--dot.png">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Do You Love What You See?</h2>
                    <a href="contact" class="btn btn-outline-dark">Contact Us</a>

                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
      {{>component/footer}}
        <!--end #footer-->

    </div>
    <!--end page-->
</div>

{{>component/scripts}}
</body>
</html>
