<!doctype html>
<html lang="en">

{{>component/head}}

<body class="has-loading-screen">

<div class="ts-page-wrapper">
    <!--Brand Navigation
    ====================================================================================================================
    -->
    <div id="brand-navigation">

        <div class="container">

            <div id="brand">
                <button class="navbar-toggler d-block d-xl-none" type="button">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="img/brand-light.png" alt="brand" class="mw-100">
                </a>
            </div>
        </div>

    </div>

    <!--Main Left Navigation
    ====================================================================================================================
    -->
    {{>component/sidenav}}

    <!--Content
    ====================================================================================================================
    -->
    <div class="ts-content">
        <!--HERO HEADER
        ================================================================================================================
        ================================================================================================================
        -->
        <header id="ts-hero" class="ts-block">

            <div class="container pt-2 pt-sm-5 pt-lg-0">
                <h1 data-animate="ts-reveal">
                    <span class="wrapper">
                        <span>Our Works</span>
                    </span>
                </h1>
                <h4>Portfolio Three Columns</h4>
            </div>

        </header>

        <!--MAIN CONTENT
        ================================================================================================================
        ================================================================================================================
        -->
        <main id="ts-content">

            <!--Works
            ============================================================================================================
            -->
            <section id="works">
                <div class="container-fluid px-0">

                    <div class="row no-gutters ts-gallery">

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--01.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp">
                                <div class="ts-gallery__item-description">
                                    <h5>Photography</h5>
                                    <h3>The Moments</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--01.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--02.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".1s">
                                <div class="ts-gallery__item-description">
                                    <h5>Branding</h5>
                                    <h3>Perrier Refresh</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--02.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--03.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".15s">
                                <div class="ts-gallery__item-description">
                                    <h5>Painting</h5>
                                    <h3>Zola</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--03.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--04.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".2s">
                                <div class="ts-gallery__item-description">
                                    <h5>Industrial Design</h5>
                                    <h3>Aston Martin Reel</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--04.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--05.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".25s">
                                <div class="ts-gallery__item-description">
                                    <h5>Branding</h5>
                                    <h3>Maracana Cups</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--05.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--06.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".35s">
                                <div class="ts-gallery__item-description">
                                    <h5>Art</h5>
                                    <h3>Timeless Motion</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--06.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--07.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".4s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photography</h5>
                                    <h3>An Ordinary Day</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--07.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--08.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".45s">
                                <div class="ts-gallery__item-description">
                                    <h5>Product</h5>
                                    <h3>Coffee Cups</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--08.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--09.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photomanipulation</h5>
                                    <h3>Never Ending</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--09.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--10.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photomanipulation</h5>
                                    <h3>Never Ending</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--10.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--11.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photomanipulation</h5>
                                    <h3>Never Ending</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--11.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                        <div class="col-md-6 col-lg-3">
                            <a href="img/img__work__thumb--12.jpg" class="card ts-gallery__item ts-floated-description popup-image" data-animate="ts-fadeInUp" data-delay=".5s">
                                <div class="ts-gallery__item-description">
                                    <h5>Photomanipulation</h5>
                                    <h3>Never Ending</h3>
                                </div>
                                <div class="ts-background ts-img-into-bg">
                                    <img src="img/img__work__thumb--12.jpg" alt="">
                                </div>
                            </a>
                        </div>
                        <!--end gallery item-->

                    </div>
                </div>
            </section>

            <!--Call to action
            ============================================================================================================
            -->
            <section class="py-5 text-center ts-background-repeat" data-bg-image="img/bg__pattern--dot.png">
                <div class="container py-5 my-5">

                    <h2 class="mb-5">Do You Love What You See?</h2>
                    <a href="#" class="btn btn-outline-dark">Contact Us</a>

                </div>
            </section>

        </main>
        <!--end #content-->

        <!--FOOTER
        ================================================================================================================
        ================================================================================================================
        -->
        <footer id="ts-footer">
            <section id="ts-footer-main">
                <div class="container">

                    <div class="ts-title">
                        <h2>About Us</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-5">
                            <p>
                                Fusce pretium dui quis est pretium lobortis. Vestibulum eu ex sed nibh condimentum
                                tristique eu finibus lorem. Nullam sed eleifend massa. Morbi nulla turpis, pharetra et
                                nisl eu, pellentesque molestie erat
                            </p>
                            <a href="#" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">More About Us</a>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <address class="ts-text-muted---white">
                                1565 Broadcast Drive
                                <br>
                                Dulles, VA 20166
                                <br>
                                <br>
                                <strong>Tel:</strong> +1 703-996-1212
                                <br>
                                <strong>Email:</strong> <a href="#">hello@example.com</a>
                                <br>
                                <strong>Skype:</strong> <a href="#">wearepreus</a>
                                <br>
                            </address>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#">Home</a>
                                <a class="nav-link" href="#">About us</a>
                                <a class="nav-link" href="#">Portfolio</a>
                                <a class="nav-link" href="#">Services</a>
                                <a class="nav-link" href="#">Contact</a>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container py-5">
                    <small>© 2019 All Rights Reserved</small>
                </div>
            </section>

        </footer>
        <!--end #footer-->

    </div>
    <!--end page-->
</div>

{{>component/scripts}}
</body>
</html>
