 <div id="brand-navigation">

        <div class="container">

            <div id="brand">
                <button class="navbar-toggler d-block d-xl-none" type="button">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#">
                    <img style="width:200px;" src="img/brand-light.png" alt="brand" class="mw-100">
                </a>
            </div>
        </div>

    </div>
