 <footer id="ts-footer">
            <section id="ts-footer-main">
                <div class="container">

                    <div class="ts-title">
                        <h2>About Us</h2>
                    </div>

                    <div class="row">

                        <div class="col-md-5">
                            <p>
                                We are working wroking hard to please our clients with our services and helping many of our clients to remain on
                                top in their market. We believe in working smart. We deal with both technical and non technical marketing.
                            </p>
                            <a href="about" class="ts-link ts-underline mb-5 mb-md-0 d-inline-block">More About Us</a>
                        </div>

                        <div class="col-sm-6 col-md-4">
                            <address class="ts-text-muted---white">
                                1565 Broadcast Drive
                                <br>
                                London
                                <br>
                                <br>
                                <strong>Tel:</strong> +44 234-567-890
                                <br>
                                <strong>Email:</strong> <a href="#">hello@suprememarketing.com</a>
                                <br>
                                <strong>Skype:</strong> <a href="#">wearesuperememarketing</a>
                                <br>
                            </address>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <nav class="nav flex-column">
                                <a class="nav-link" href="#">Home</a>
                                <a class="nav-link" href="about">About us</a>
                                <a class="nav-link" href="portfolio">Portfolio</a>
                                {{! <a class="nav-link" href="#">Services</a> }}
                                <a class="nav-link" href="contact">Contact</a>
                            </nav>
                        </div>

                    </div>
                </div>
            </section>

            <section>
                <div class="container py-5">
                    <small>© 2020 All Rights Reserved (Source Code)</small>
                </div>
            </section>

        </footer>