	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
	<script src="js/isInViewport.jquery.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/scrolla.jquery.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery-validate.bootstrap-tooltip.min.js"></script>
	<script src="js/odometer.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/leaflet.js"></script>
    <script src="js/jquery.vide.min.js"></script>


