 <div id="main-navigation">
        <nav class="navbar navbar-dark">
            <ul class="navbar-nav">

                <!--Home
                ========================================================================================================
                -->
                <div class="nav-item">
                    <a class="nav-link active" href="index" role="button">Home</a>
                   
                </div>

                <!--About us
                ========================================================================================================
                -->
                <div class="nav-item">
                    <a class="nav-link" href="about" role="button">About</a>
  
                </div>

                <!--Portfolio
                ========================================================================================================
                -->
                <div class="nav-item">
                    <a class="nav-link" href="portfolio" role="button">Portfolio</a>
                    
                </div>

                <!--Blog
                ========================================================================================================
                -->
                <!-- <div class="nav-item">
                    <a class="nav-link" href="#collapse__blog" data-toggle="collapse" role="button">Blog</a>
                 
                </div> -->

                <!--Contact
                ========================================================================================================
                -->
                <div class="nav-item">
                    <a class="nav-link" href="contact"  role="button">Contact</a>

                </div>

            </ul>
        </nav>
    </div>